  .sign-up {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    flex-grow: 1;
    align-items: center;
    padding: 4rem 4rem;
    box-shadow: 2px 5px 5px #cccccc;

    .title {
      margin: 10px 0;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }