.sign-in {
  max-width: 40%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.google-icon {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png") transparent no-repeat;
  background-size: 90% 90%;
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
}