.shop-page {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;

  .title {
    font-size: 2rem;
    margin-bottom: 25px;
    text-transform: uppercase;

    a {
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #ff0062;
      }
    }
  }

  .collection {
    position: relative;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;

    h1 {
      display: inline-block;
      position: relative;
      z-index: 1;
      background-color: white;
      font-size: 2rem;
      padding: 0 1rem;
      user-select: none;
    }

    &::after {
      border-radius: 50%;
      position: absolute;
      content: "";
      width: 40%;
      height: 5px;
      background: linear-gradient(to right, #fff 0%, rgb(51, 51, 51) 40%, #000 50%, rgb(51, 51, 51) 60%, #fff 100%);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}