.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  margin: auto;
  padding: 20px 80px;
  box-shadow: 0 2px 3px #cccccc;
  transition: all 0.3s ease-in-out;
  background: white;

  &.stick {
    padding: 20px 80px;
    position: fixed;
    z-index: 10000;
    top: 0;
    background: whitesmoke;
    box-shadow: 2px 5px 5px #cccccc;
    animation: zoomOut 0.3s ease-in forwards;
  }

  &.unstick {
    animation: zoomIn 0.3s ease-in forwards;
  }

  .logo-container {
    flex: 1 1;

    .logo {
      width: 3rem;
      height: 3rem;
    }
  }

  .navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 100;

    .nav-item {
      cursor: pointer;
      padding: 10px 15px;
      line-height: 100%;
      font-size: 1.2rem;
      color: black;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;

      span {
        position: relative;
        transition: all 0.3s ease-in-out;

        &::after,
        &::before {
          content: "";
          width: 0px;
          height: 2px;
          display: block;
          background: black;
          transition: 300ms;
        }
      }

      &:hover {
        span {
          text-decoration: underline;

          &::after,
          &::before {
            width: 100%;
          }
        }

      }
    }

  }
}

@keyframes zoomOut {

  0% {
    width: 90%;
    left: 5%;
  }

  100% {
    width: 100%;
    left: 0;
  }
}

@keyframes zoomIn {

  0% {
    width: 100%;
    left: 0;
  }

  50% {
    width: 99%;
    left: 1%;
  }

  100% {
    width: 100%;
    left: 0;
  }

}