.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  margin: auto;
  padding: 20px 80px;

  .logo-container {
    flex: 1 1;

    .logo {
      width: 3rem;
      height: 3rem;
    }
  }

  .navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 100;

    .nav-item {
      cursor: pointer;
      padding: 10px 15px;
      line-height: 100%;
      font-size: 1.2rem;
      color: black;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;

      span {
        position: relative;
        transition: all 0.3s ease-in-out;

        &::after,
        &::before {
          content: "";
          width: 0px;
          height: 2px;
          display: block;
          background: black;
          transition: 300ms;
        }
      }

      &:hover {
        span {
          text-decoration: underline;

          &::after,
          &::before {
            width: 100%;
          }
        }

      }
    }

  }
}